body {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-field {
    margin-bottom: 10px;
  }
  
  .btn-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #log {
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
  }
  
  #log::-webkit-scrollbar {
    width: 8px;
  }
  
  #log::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  #log::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
  